In [1]:
import pandas as pd

df = pd.read_csv(r"C:\Users\mg\Downloads\Compressed\kidney_disease.csv")
df.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [2]:
df.dtypes

id                  int64
age               float64
bp                float64
sg                float64
al                float64
su                float64
rbc                object
pc                 object
pcc                object
ba                 object
bgr               float64
bu                float64
sc                float64
sod               float64
pot               float64
hemo              float64
pcv                object
wc                 object
rc                 object
htn                object
dm                 object
cad                object
appet              object
pe                 object
ane                object
classification     object
dtype: object

# Label Encoding

In [3]:
categorical_cols = df.columns[df.dtypes==object].tolist()
categorical_cols

['rbc',
 'pc',
 'pcc',
 'ba',
 'pcv',
 'wc',
 'rc',
 'htn',
 'dm',
 'cad',
 'appet',
 'pe',
 'ane',
 'classification']

In [9]:
# from sklearn.preprocessing import LabelEncoder


df["rbc"] = df["rbc"].astype('category').cat.codes
df.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,wc,rc,htn,dm,cad,appet,pe,ane,classification,rbc_cat
0,0,48.0,80.0,1.020,1.0,0.0,-1,normal,notpresent,notpresent,...,7800,5.2,yes,yes,no,good,no,no,ckd,-1
1,1,7.0,50.0,1.020,4.0,0.0,-1,normal,notpresent,notpresent,...,6000,NaN,no,no,no,good,no,no,ckd,-1
2,2,62.0,80.0,1.010,2.0,3.0,1,normal,notpresent,notpresent,...,7500,NaN,no,yes,no,poor,no,yes,ckd,1
3,3,48.0,70.0,1.005,4.0,0.0,1,abnormal,present,notpresent,...,6700,3.9,yes,no,no,poor,yes,yes,ckd,1
4,4,51.0,80.0,1.010,2.0,0.0,1,normal,notpresent,notpresent,...,7300,4.6,no,no,no,good,no,no,ckd,1

In [5]:
df["rbc_cat"].value_counts()

 1    201
-1    152
 0     47
Name: rbc_cat, dtype: int64

In [6]:
df["rbc"].isnull().sum()

152

# One Hot Encoding

In [8]:
# from sklearn.preprocessing import OneHotEncoder

one_hot_enc = pd.get_dummies(df, columns=["pc", "pcc"], prefix=["first", "second"])
one_hot_enc.head()

,id,age,bp,sg,al,su,rbc,ba,bgr,bu,...,cad,appet,pe,ane,classification,rbc_cat,first_abnormal,first_normal,second_notpresent,second_present
0,0,48.0,80.0,1.020,1.0,0.0,NaN,notpresent,121.0,36.0,...,no,good,no,no,ckd,-1,0,1,1,0
1,1,7.0,50.0,1.020,4.0,0.0,NaN,notpresent,NaN,18.0,...,no,good,no,no,ckd,-1,0,1,1,0
2,2,62.0,80.0,1.010,2.0,3.0,normal,notpresent,423.0,53.0,...,no,poor,no,yes,ckd,1,0,1,1,0
3,3,48.0,70.0,1.005,4.0,0.0,normal,notpresent,117.0,56.0,...,no,poor,yes,yes,ckd,1,1,0,0,1
4,4,51.0,80.0,1.010,2.0,0.0,normal,notpresent,106.0,26.0,...,no,good,no,no,ckd,1,0,1,1,0